*{
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 235, 235);
    width: 70%;
    margin: auto;
}

#form{
    padding: 5px 20px;
    margin: 5px 15px;
    max-width: 350px;
    background-color: rgba(101, 120, 126, 0.7);
}

#form input{
    width: 100%;
    padding: 14px 15px;
}

.bgimg{
    background-image: url("../images/plants.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 20px;
}

#submit{
    background-color: rgb(233, 94, 40);
    color: white;
    padding: 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#submit:hover{
    opacity: 1;
}
